@import "wapsass.scss";

.banner {
  width: 100%;
  height: pr(515px);
  background: url("../images/01/banner.png") no-repeat center;
  background-size: 100%;
  //border: 1px solid #000;
  h1{
    text-indent: -9999px;
    padding-top: pr(46px);
    margin-left: pr(50px);
    a{
      width: pr(162px);
      height: pr(50px);
    }
  }
}

/*省份*/
.province {
  margin-bottom: pr(25px);
  /*简介*/
  .intro {
    //border: 1px solid blue;
    height: pr(243px);
    background: url("../images/01/intro.png") no-repeat center;
    background-size: 100%;
    margin-top: pr(-23px);
  }
  .title {
    //border: 1px solid #cccccc;
    margin-top: pr(56px);
    .title-icon {
      width: pr(38px);
      height: pr(34px);
      background: url("../images/01/arrows.png") no-repeat center;
      background-size: 100%;
      float: left;
      margin-top: 5px;
    }
    .text {
      font-size: pr(36px);
      font-weight: bold;
      color: #444444;
      float: left;
      line-height: pr(45px);
      strong {
        color: #f97f55;
      }
    }
    .region {
      width: pr(160px);
      //height: pr(65px);
      //border: 1px solid #000;
      float: left;
      padding: 0 pr(16px);
      margin-left: pr(28px);
      background: #ffebe4;
      border-top-left-radius: pr(32px);
      border-top-right-radius: pr(32px);
      border-bottom-right-radius: pr(32px);
      .icon {
        width: pr(24px);
        height: pr(32px);
        background: url("../images/01/area.png") no-repeat center;
        background-size: 100%;
        float: left;
        margin-top: pr(6px);
        margin-right: pr(6px);
      }
      span {
        font-size: pr(24px);
        color: #ff7241;
        float: left;
        line-height: pr(45px);
      }
    }
  }

  /*中国地区*/
  .cn-area {
    width: pr(695px);
    //height: pr(607px);
    //border: 1px solid #cccccc;
    padding: pr(28px) 0;
    .area-item {
      //border: 1px solid red;
      margin-top: pr(12px);
      .key {
        font-size: pr(30px);
        padding-right: pr(20px);
        border-right: 1px dotted #454545;
        line-height: pr(28px);
        float: left;
        margin-top: pr(8px);
      }
      .values {
        width: 88%;
        float: left;
        a {
          font-size: pr(24px);
          margin-left: pr(20px);
          margin-bottom: pr(18px);
          padding: 0 pr(24px);
          background: #f1f1f1;
          line-height: pr(45px);
          border-radius: pr(12px);
          //border: 1px solid #000;
          color: #666666;
          float: left;
          &:hover {
            background: #ff7647;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}

.tables {
  background: #FFFFFF;
  padding: 0 pr(25px) pr(50px);
  .table {
    padding-top: pr(55px);
    .table-title {
      //border: 1px solid #000;
      line-height: pr(34px);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: pr(16px);
      .icon {
        width: pr(24px);
        height: pr(34px);
        background: url("../images/01/area.png") no-repeat center;
        background-size: 100%;
      }
      span {
        font-size: pr(34px);
        color: #ff7d4f;
        margin-left: pr(14px);
      }
    }
    .tb {
      //font-size: pr(26px);
      line-height: pr(68px);
      .th {
        color: #FFFFFF;
        background: #ff7d4f;
        text-align: center;
        font-size: pr(26px);
        a{
          display: inline-block;
          color: #FFFFFF;
        }
      }
      .tr {
        color: #444444;
        border-left: 1px solid #ff7d4f;
        border-right: 1px solid #ff7d4f;
        border-bottom: 1px solid #ff7d4f;
        padding: 0 pr(20px);
        font-size: pr(26px);
      }
      .tac {
        text-align: center;
      }
    }
  }
}

/*高考工具箱*/
.kit {
  .kit-detail {
    .detail-item {
      .icon {
        background: url("../images/01/kit_cont_1.png") no-repeat center;
        background-size: 100%;
      }
      &:nth-of-type(2) {
        .icon {
          background: url("../images/01/kit_cont_2.png") no-repeat center;
          background-size: 100%;
        }
      }
      &:hover{
        color: #ff7d4f;
      }
    }
  }
  .title {
    background: #ff7d4f;
    .title-icon {
      background: url("../images/01/arrows.png") no-repeat center;
      background-size: 100%;
    }
  }
  .nav {
    .nav-item {
      background: #ffe7df;
      &:hover{
        color: #ff7d4f;
      }
    }
  }
}

