@import "wapsass.scss";

.header{
  background: #4077d9;
  h1{
    padding: pr(24px) 0;
    .logo{
      //border: 1px solid #000;
      width: pr(162px);
      height: pr(50px);
      margin-left: auto;
      margin-right: auto;
      background: url("../images/02/logo.png") no-repeat center;
      text-indent: -9999px;
    }
  }
}

.banner {
  height: pr(450px);
  width: 100%;
  background: url("../images/04/banner.png") no-repeat center;
  background-size: cover;
  //border: 1px solid #000;
}

/*省份*/
.province{
  padding: pr(44px) pr(25px) pr(0px);
  margin-bottom: pr(25px);
  .title{
    .title-icon{
      width: pr(38px);
      height: pr(34px);
      background: url("../images/03/arrows.png") no-repeat center;
      float: left;
      margin-top: 16px;
    }
    .text{
      font-size: pr(36px);
      font-weight: bold;
      color: #0066cc;
      float: left;
      line-height: pr(67px);
      strong{
        color: #f97f55;
      }
    }
  }

  /*中国地区*/
  .cn-area{
    width: pr(695px);
    //height: pr(607px);
    //border: 1px solid #cccccc;
    padding: pr(28px) 0;
    .area-item{
      //border: 1px solid red;
      margin-top: pr(12px);
      .key{
        font-size: pr(30px);
        padding-right: pr(20px);
        border-right: 1px dotted #454545;
        line-height: pr(28px);
        float: left;
        margin-top: pr(8px);
      }
      .directly{
        color: #ff5c14;
      }
      .values{
        width: 88%;
        float: left;
        a{
          font-size: pr(24px);
          margin-left: pr(20px);
          margin-bottom: pr(18px);
          padding: 0 pr(24px);
          background: #f1f1f1;
          line-height: pr(45px);
          border-radius: pr(12px);
          //border: 1px solid #000;
          color: #666666;
          float: left;
          &:hover{
            background: #1975d2;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}

.tables{
  background: #FFFFFF;
  padding: pr(44px) pr(25px) pr(1px);
  margin-bottom: pr(406px);
  .table{
    font-size: pr(26px);
    line-height: pr(68px);
    margin-bottom: pr(46px);
    .table-title{
      //border: 1px solid #000;
      line-height: pr(34px);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: pr(16px);
      .icon{
        width: pr(24px);
        height: pr(34px);
        background: url("../images/03/area.png") no-repeat center;
      }
      span{
        font-size: pr(34px);
        color: #1975d2;
        margin-left: pr(14px);
      }
    }
    .tb{
      border: 1px solid #427be0;
      .tr{
        color: #444444;
        font-size: pr(24px);
        text-align: center;
        .td{
          width: 67%;
          float: left;
          background: #FFFFFF;
          padding: pr(10px) pr(14px) pr(10px) pr(24px);
          min-height: pr(68px);
          line-height: pr(45px);
          border-top: 1px solid #FFFFFF;
          border-left: 1px solid #FFFFFF;
          border-right: 1px solid #FFFFFF;
          a{
            color: #1181f2;
          }
          &:nth-of-type(odd){
            width: 33%;
            background: #1975d2;
            color: #FFFFFF;
          }
        }
        .tcl{
          text-align: left;
        }
        &:nth-of-type(even){
          .td{
            &:nth-of-type(even){
              background: #e8f1fa;
              color: #1181f2;
            }
          }
        }
        &:last-child{
          border-bottom: 1px solid #FFFFFF;
        }
      }
    }

  }
}

/*高考工具箱*/
.kit{

  .kit-content{
    .cont-left{
      .title{
        .title-icon{
          background: url("../images/03/arrows.png") no-repeat center;
        }
      }
      .kit-detail{

        .detail-item{

          .icon{
            background: url("../images/03/kit_cont_1.png") no-repeat center;
          }
          &:nth-of-type(2){
            .icon{
              background: url("../images/03/kit_cont_2.png") no-repeat center;
            }
          }
          &:nth-of-type(3){
            .icon{
              background: url("../images/03/kit_cont_3.png") no-repeat center;
            }
          }
        }
      }
    }
    .QR-code{
      background: url("../images/03/QR_code.png") no-repeat center;
    }
  }
  .nav{
    .nav-item{
      background: #daedff;
    }
  }
}

.footer{
  height: pr(120px);
  background: #2e2e2e;
  text-align: center;
  font-size: pr(22px);
  color: #888888;
  line-height: pr(38px);
  padding: pr(22px) 0;

  display: none;
}

