@import "wapsass.scss";

.wrap{
  background: #f0f0f0;
}

i{
  display: block;
}

strong{
  font-style: normal;
}

.banner {
  height: pr(515px);
  width: 100%;
  background: url("../images/banner_red.png") no-repeat center;
  padding: pr(46px) pr(50px);
  h1{
    width: pr(162px);
    height: pr(50px);
    //border: 1px solid #000;
    text-indent: -9999px;
  }
}

/*省份*/
.province{
  width: 100%;
  height: pr(965px);
  background: #FFFFFF;
  //border: 1px solid #000;
  padding: 0 pr(25px);
  /*简介*/
  .intro{
    //border: 1px solid #000;
    width: 100%;
    height: pr(243px);
    background: url("../images/intro.png") no-repeat center;
    padding: pr(16px) pr(36px);
    font-size: pr(24px);
    color: #FFFFFF;
    line-height: pr(42px);
    margin-top: pr(-23px);
    //@extend %one;
    p{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden;
    }
  }
  .title{
    border: 1px solid #cccccc;
    margin-top: pr(56px);
    .title-icon{
      width: pr(38px);
      height: pr(34px);
      background: url("../images/arrows_red.png") no-repeat center;
      display: inline-block;
    }
    .text{
      font-size: pr(36px);
      font-weight: bold;
      color: #444444;
      display: inline-block;
      strong{
        color: #f97f55;
      }
    }
    .area{
      width: pr(160px);
      height: pr(65px);
      border: 1px solid #000;
      display: inline-block;
      padding: pr(9px) pr(16px) pr(6px) pr(16px);
      .icon{
        width: pr(24px);
        height: pr(32px);
        background: url("../images/area.png") no-repeat center;
        float: left;
      }
      span{
        font-size: pr(24px);
        color: #ff7241;
        float: left;
        line-height: pr(32px);
      }
    }
  }
}

