@import "wapsass.scss";

.header{
  background: #4077d9;
  h1{
    padding: pr(24px) 0;
    .logo{
      //border: 1px solid #000;
      width: pr(162px);
      height: pr(50px);
      margin-left: auto;
      margin-right: auto;
      background: url("../images/02/logo.png") no-repeat center;
      text-indent: -9999px;
    }
  }
}

.banner {
  height: pr(508px);
  background: url("../images/02/banner.png") no-repeat center;
  //border: 1px solid #000;
}

/*省份*/
.province{
  /*简介*/
  .intro{
    height: pr(243px);
    background: url("../images/02/intro.png") no-repeat center;
    margin-top: pr(-48px);
  }
  /*批数*/
  .batches{
    display: grid;
    grid-template-columns: repeat(4, pr(165px));
    grid-row-gap: 20px;
    grid-column-gap: 16px;
    text-align: center;
    margin: pr(42px) 0 pr(80px) 0;
    .batch{
      font-size: pr(30px);
      color: #444444;
      border: 1px solid #427be0;
      line-height: pr(60px);
      border-radius: pr(30px);
      background: #ecf3ff;
      &:hover{
        background: #427be0;
        color: #FFFFFF;
      }
    }
  }

  .title{
    //border: 1px solid #cccccc;
    margin-top: pr(56px);
    text-align: center;
    .left-icon{
      width: pr(40px);
      height: pr(33px);
      background: url("../images/02/title_left.png") no-repeat center;
      display: inline-block;
      vertical-align: middle;
    }
    .text{
      font-size: pr(34px);
      font-weight: bold;
      color: #333333;
      display: inline-block;
      line-height: pr(67px);
    }
    .right-icon{
      width: pr(40px);
      height: pr(32px);
      background: url("../images/02/title_right.png") no-repeat center;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.tables{
  background: #FFFFFF;
  padding: pr(44px) pr(25px);
  margin-bottom: pr(406px);
  .table{
    font-size: pr(26px);
    line-height: pr(42px);
    //border: 1px solid #427be0;
    .th{
      width: 100%;
      color: #FFFFFF;
      //background: #ff7d4f;
      text-align: center;
      .td{
        width: 25%;
        float: left;
        background: #427be0;
        min-height: pr(75px);
        display: flex;
        justify-content: center;
        align-items: center;
        &:first-child{
          border-top-left-radius: pr(10px);
        }
        &:nth-of-type(even){
          background: #578ae5;
        }
        &:last-child{
          border-top-right-radius: pr(10px);
        }
      }
    }
    .tr{
      color: #444444;
      font-size: pr(24px);
      text-align: center;
      border-left: 1px solid #427be0;
      border-right: 1px solid #427be0;
      border-bottom: 1px solid #427be0;
      .td{
        width: 25%;
        float: left;
        background: #FFFFFF;
        min-height: pr(78px);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: pr(18px) pr(0px) pr(18px) pr(6px);
        &:nth-of-type(odd){
          background: #dde9ff;
          width: 24%;
        }
        &:nth-of-type(even){
          width: 26%;
        }
      }
    }
  }
}

/*高考工具箱*/
.kit{
  .kit-content{
    .cont-left{
      .title{
        .title-icon{
          background: url("../images/02/title_left.png") no-repeat center;
        }
      }
      .kit-detail{
        .detail-item{
          .icon{
            background: url("../images/02/kit_cont_1.png") no-repeat center;
          }
          &:nth-of-type(2){
            .icon{
              background: url("../images/02/kit_cont_2.png") no-repeat center;
            }
          }
          &:nth-of-type(3){
            .icon{
              background: url("../images/02/kit_cont_3.png") no-repeat center;
            }
          }
        }
      }
    }
    .QR-code{
      background: url("../images/02/QR_code.png") no-repeat center;
      .wechat{
        background: url("../images/01/wechat.png") no-repeat center;
      }
    }
  }
  .nav{
    .nav-item{
      background: #dde9ff;
    }
  }
}

